<div class="background">
  <div class="wrapper fadeInDown">
    <div id="formContent">


      <div *ngIf="message"
        style="margin: 0 30px; margin-top: 20px; padding: 7px 10px; background-color: lightcoral; color: white; border-radius: 10px;">
        {{message}}
      </div>

      <h2 class="active mb-4">Welcome</h2>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>Please, log in</p>

        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="username">
        <div class="validation" *ngIf="form.get('username').touched && form.get('username').invalid">
          <small *ngIf="form.get('username').errors.required">Это поле обязательное</small>
        </div>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
          formControlName="password">
        <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
          <small *ngIf="form.get('password').errors.required">Это поле обязательное</small>
        </div>
        <input type="submit" class="fadeIn fourth" value="Войти" [disabled]="form.invalid">
      </form>
    </div>
  </div>
</div>
