<div style="margin: 0 250px; margin-top: 50px; margin-bottom: 70px;">
  <div style="margin-bottom: 30px; display: flex; position: relative;">
    <a style=" margin-right: 30px;" routerLink="/main">Todo List</a>
    <a style=" margin-right: 30px;" routerLink="/posts">Posts</a>
    <a style=" margin-right: 30px;" routerLink="/users">Users</a>
    <a style=" margin-right: 30px;" routerLink="/comments">Comments</a>
    <a style=" margin-right: 30px;" routerLink="/photos">Photos</a>
    <a style="position: absolute; right: 0px; background-color: tomato; color: white; cursor: pointer;"
      (click)="logOut()">
      Log out
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
