<ng-container #main></ng-container>

<div *ngIf="todos">
  <h2 style="margin-left: 20px;">Bob's Todo List: </h2>
  <ul>
    <li *ngFor="let todo of todos">
      {{todo.title}}: <b>{{todo.completed}}</b>
    </li>
    <li>
      ...
    </li>
  </ul>
</div>

<ng-template #tpl>
  <div>
    <h1>Template title</h1>
    <p>Template description</p>
  </div>
</ng-template>