<div *ngIf="photos">
  <h2 style="margin-left: 20px;">Bob's Photos</h2>
  <ul>
    <li style="margin-bottom: 20px;" *ngFor="let photo of photos">
      <b>{{photo.title}}</b>
      <br>
      <img width="100" [src]="photo.url" target="_blank">
    </li>
  </ul>
</div>
