<div *ngIf="comments">
    <h2 style="margin-left: 20px;">Bob's Friends</h2>
    <ul>
      <li style="margin-bottom: 20px;" *ngFor="let comment of comments">
        <b>{{comment.name}}</b>: {{comment.body}}
      </li>
    </ul>
  </div>
  