<div *ngIf="posts">
  <h2 style="margin-left: 20px;">Bob's Posts</h2>
  <ul>
    <li style="margin-bottom: 20px;" *ngFor="let post of posts">
      <b>{{post.title}}</b><br>{{post.body}}
    </li>
  </ul>
</div>
